.fp {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.fpItem {
  flex: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.fpImg {
  width: 100%;
  border-radius: 4px;
}

.fpName{
  font-weight: bold;
}

.fpCity{
  font: 300;
}

.fpPrice {
  font-weight: 600;
  font-size: 18px;
}

.fpRating button{
  background-color: rgb(190, 100, 100);
  color: white;
  border: none;
  padding: 4px;
  margin-right: 10px;
  font-weight: bold;
}

.fpRating span {
  font-size: 14px;
}