.footer {
  width: 100%;
  max-width: 1024px;
  font-size: 12px;
}

.footerLists{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.footerList {
  list-style: none;
  padding: 0;
}

.fListItem { 
  margin: 10px;
  color: rgb(190, 100, 100);
  cursor: pointer;
}