.featured {
  flex: 2;
  padding: 10px;
  box-shadow: 5px 10px 18px rgb(200, 200, 200);
  border-radius: 10px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(120, 120, 120);
    
    .title{
      font-size: 20px;
    }
  }

  .bottom {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .featuredChart {
      width: 125px;
      height: 125px;
    }

    .title {
      font-weight: 600;
      font-size: 18px;
    }

    .amount {
      font-size: 28px;
    }

    .summaryTitle {
      border-bottom: 1px solid rgb(120, 120, 120);
      color: rgb(120, 120, 120);
      font-size: 14px;
    }
    .summary {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .itemTitle {
          font-size: 14px;
          color:rgb(120, 120, 120);
        }
        .itemResult {
          font-weight: 700;
        }
      }
    }
  }
}